body{
    margin: 0;
    padding: 0;
}

.navbar {
    position: absolute;
    width: 100%;
    background: black;
    opacity: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .image img {
    width: 150px;
    height: 50px;
    margin-left: 150px;
  }
  
  li {
    list-style: none;
    display: inline-block;
  }
  
  li {
    color: white;
    font-size: 20px;
    font-weight: 500px;
    margin-right: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .bg{
    height: 100%;
    width: 100%;
}
.bg img{
    height: 100%;
    width: 100%;
}
.music{
    position: absolute;
    top: 35%;
    left: 25%;
    color: whitesmoke;
    font-size: 90px;
    font-weight:1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mill{
    position: absolute;
    top: 47%;
    left: 38%;
    color: whitesmoke;
    font-size: 20px;
    font-weight:900;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.sub input {
    color: white;
    position: absolute;
    top: 55%;
    left: 40%;
    background-color: #03C04A;
    border-radius: 100px 100px 100px 100px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    border: #03C04A;
  }
  @media screen and (max-width : 600px) {
    .bg{
        height: fit-content;
        width: fit-content;

    
    }
    .music{
            position: absolute;
            top: 35%;
            left: 25%;
            color: whitesmoke;
            font-size: 30px;
            font-weight:500;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
      }